body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  background: #fff;
}

.logo {
  display: block;
}

.logo img {
  border: none;
}

.content {
  margin-left: 124px;
  padding-left: 0.5em;
}

.menu {
  position: fixed;
  float: left;
  clear: left;
  width: 124px;
}

.menu a {
  display: block;
  color: #b40;
  font-family: Book Antiqua, serif;
  font-size: 13pt;
}

.menu a:hover {
  background: #ff8;
}

a.logo:hover {
  background: none;
}

.menu a:visited {
  /*
   * Removing the user's visual hint of which links they've followed
   * is dangerous, if somewhat less so in a menu.  I just can't find a
   * way to leave the visual hint and still look decent.
   */
  color: #b40;
}

a {
  color: #b40;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #f10;
}

.foot {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  padding-top: 1em;
  clear: both;
}

.foot img {
  border: none;
}

.qute, h1, h2, h3, h4, h5, h6 {
  font-family: Book Antiqua, serif;
}

h2 + p { margin-top: 0; }

h1 { font-size: 18pt; }
h2 { font-size: 16pt; margin-bottom: 0.3em; }

